{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center mb-4">
    <button class="btn btn-outline-secondary m-2 filter-btn" data-filter="all">All</button>
    {% for category in categories %}
        <button class="btn btn-outline-secondary m-2 filter-btn" data-filter="{{ category.name }}">{{ category.name }}</button>
    {% endfor %}
</div>
<div class="container mt-5">
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6 article-card" data-category="{{ article.category.all|join:' ' }}">
            <div class="card mb-4 shadow-sm">
                {% if article.thumbnail %}
                <img src="{{ article.thumbnail.url }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                    <p class="card-text"><small class="text-muted">Published on {{ article.published_dt|date:"F j, Y" }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}
